@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Bai Jamjuree, system-ui, sans-serif;

    @apply antialiased;
  }

  *:focus {
    outline: none;
  }
}

@layer utilities {
  .shadow-common {
    @apply shadow-lg shadow-gray-800;
  }
}
